.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-box {
  width: 80vw;
  height: 400px;
  margin-top: 200px;
  border: var(--border-sub);
  box-shadow: var(--boxshadow-main);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-title {
  background: #e89b9b;
  background: radial-gradient(
    circle,
    rgba(232, 155, 155, 1) 40%,
    rgba(148, 187, 233, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  &:hover {
    background-color: #d88a8a;
  }
}
